.master-section {
  padding-top: 84px;
  padding-bottom: 84px;
  background-color: #f7f7f7;
}

.master-section.text {
  position: relative;
  margin-left: 80px;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.4;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.master-section.text::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: -80px;
  transform: scaleY (50%);
  width: 60px;
  height: 1px;
  background-color: #000;
}

.master-title {
  font-weight: bold;
  font-size: 42px;
  line-height: 1.2;
  letter-spacing: 0.05em;
}

.master {
  list-style: none;
  padding-left: 0;
}

.master-title.name {
  font-size: 18px;
  line-height: 1.4;
  text-align: center;
  letter-spacing: 0.02em;
}

.master-text {
  color: #ff6c00;
  font-size: 14px;
  line-height: 1.4;
  text-align: center;
  letter-spacing: 0.02em;
}

.master-seti {
  display: flex;
  padding-left: 0;
  list-style: none;
  justify-content: center;
}

.master-seti.list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.master-seti.link {
  display: flex;
  width: 44px;
  height: 44px;
  align-items: center;
  background-color: #fff;
  border-radius: 50%;
}

.master-seti.link:hover,
.master-seti.link:focus {
  fill: #ff6c00;
}
