body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
}

.section {
  background-color: #fff;
}

@media screen and (min-width: 480px) {
  .section {
    padding-top: 84px;
    padding-bottom: 84px;
  }
}

@media screen and (min-width: 768px) {
  .section {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 130px;
    padding-bottom: 130px;
  }
}

.container {
  padding-left: 31px;
  padding-right: 31px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding-left: 39px;
    padding-right: 39px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.title {
  font-family: "Raleway", sans-serif;
  color: #303030;
}

.text {
  color: #555555;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
/*  about  */

.about.section {
  padding-top: 84px;
  padding-bottom: 84px;
}

@media screen and (min-width: 768px) {
  .about.section {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

@media screen and (min-width: 1200px) {
  .about.section {
    padding-top: 130px;
    padding-bottom: 130px;
  }
}

@media screen and (min-width: 768px) {
  .about-left-box {
    display: flex;
    width: calc((100% - 30px) / 2);
  }
}

@media screen and (max-width: 767px) {
  .about-foto-box {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .about-foto-box {
    min-width: 330px;
    margin-right: 30px;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .about-foto-box {
    display: flex;
    margin-right: 64px;
    min-width: 570px;
  }
}

@media screen and (min-width: 768px) {
  .about-second-box {
    min-width: 330px;
  }
}

@media screen and (min-width: 1200px) {
  .about-second-box {
    min-width: 500px;
  }
}

.about-photo {
  list-style: none;
}

@media screen and (min-width: 768px) {
  .about-photo:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .about-photo:not(:last-child) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .about-photo:not(:last-child) {
    margin-right: 30px;
  }
}

.about-section-text {
  position: relative;
  margin-top: 0;
  margin-left: 80px;
  margin-bottom: 20px;

  font-weight: 600;
  font-size: 11px;
  line-height: 1.4;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.about-section-text::before {
  content: "";
  position: absolute;
  width: 60px;
  height: 1px;
  top: 50%;
  left: -80px;
  transform: translateY(-50%);
  background-color: #303030;
}

.about.title {
  margin-bottom: 20px;
  margin-top: 0;

  font-weight: bold;
  font-size: 28px;
  line-height: 1.2;
  letter-spacing: 0.05em;
}

@media screen and (min-width: 1200px) {
  .about.title {
    font-weight: bold;
    font-size: 42px;
    line-height: 1.2;
    letter-spacing: 0.05em;
  }
}

.about-first.text {
  margin-bottom: 20px;

  font-weight: normal;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.02em;
}

@media screen and (min-width: 1200px) {
  .about-first.text {
    font-size: 18px;
    line-height: 1.7;
  }
}

.about-second.text {
  margin-bottom: 40px;
  font-size: 14px;
  line-height: 1.8;
  letter-spacing: 0.02em;
}

.about-button {
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  width: 160px;
  height: 40px;
  background-color: #fff;
  border: 1px solid #ff6c00;
  border-radius: 25px;
  cursor: pointer;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.about-button:hover,
.about-.button:focus {
  color: #fff;
  background-color: #ff6c00;
}

/*   masters  */

.master.section {
  padding-top: 84px;
  padding-bottom: 84px;
  background-color: #f7f7f7;
}

@media screen and (min-width: 768px) {
  .master.section {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

@media screen and (min-width: 1200px) {
  .master.section {
    padding-top: 130px;
    padding-bottom: 130px;
  }
}

@media screen and (min-width: 768px) {
  .master.container {
    padding-left: 159px;
    padding-right: 159px;
  }
}

@media screen and (min-width: 769px) {
  .master.container {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.master-section-text {
  position: relative;
  margin-left: 80px;
  margin-bottom: 20px;
  padding: 0;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.4;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.master-section-text::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: -80px;
  width: 60px;
  height: 1px;
  transform: translateY(-50%);
  background-color: #303030;
}

.master.title {
  margin-top: 0;
  margin-bottom: 44px;
  font-family: "Raleway";
  font-weight: bold;
  font-size: 42px;
  line-height: 1.2;
  letter-spacing: 0.05em;
}

.master-cart {
  list-style: none;
  padding-left: 0;
}

@media screen and (min-width: 769px) {
  .master-cart {
    display: flex;
    margin: -15px;
  }
}

@media screen and (min-width: 769px) {
  .master-name {
    width: calc((100% - 6 * 15px) / 3);
    margin: 15px;
  }
}

@media screen and (max-width: 768px) {
  .master-name:not(:last-child) {
    margin-bottom: 64px;
  }
}
.master-title.name {
  margin-top: 30px;
  margin-bottom: 8px;
  font-size: 18px;
  line-height: 1.4;
  text-align: center;
  letter-spacing: 0.02em;
}

.master-text {
  margin-top: 0;
  margin-bottom: 30px;
  color: #ff6c00;
  font-size: 14px;
  line-height: 1.4;
  text-align: center;
  letter-spacing: 0.02em;
}

.master-seti {
  display: flex;
  padding-left: 0;
  list-style: none;
  justify-content: center;
}

.master-seti.list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.master-seti.list:not(:last-child) {
  margin-right: 10px;
}

.master-seti.link {
  display: flex;
  width: 44px;
  height: 44px;
  align-items: center;
  background-color: #fff;
  border-radius: 50%;
}

.master-seti.link:hover .icon-seti,
.master-seti.link:focus .icon-seti {
  fill: #ff6c00;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*    portfolio       */

.portfolio.section {
  padding-top: 84px;
  padding-bottom: 84px;

  background-color: #ffffff;
}

@media screen and (min-width: 768px) {
  .portfolio.section {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio.section {
    padding-top: 130px;
    padding-bottom: 130px;
  }
}

.portfolio.container {
  padding-left: 31px;
  padding-right: 31px;
}

@media screen and (min-width: 768px) {
  .portfolio.container {
    padding-left: 39px;
    padding-right: 39px;
  }
}

@media screen and (min-width: 769px) {
  .portfolio.container {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.portfolio-section-text {
  position: relative;
  margin-top: 0;
  margin-left: 80px;
  margin-bottom: 44px;

  font-weight: 600;
  font-size: 11px;
  line-height: 1.9;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.portfolio-section-text::before {
  content: "";
  position: absolute;
  width: 60px;
  height: 1px;
  top: 25%;
  left: -80px;
  transform: translateY(-50%);
  background-color: #303030;
}

@media screen and (min-width: 481px) {
  .portfolio-section-text::before {
    top: 50%;
  }
}

.portfolio-foto {
  padding-left: 0;
}

@media screen and (min-width: 481px) {
  .portfolio-foto {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

.portfolio-item {
  list-style: none;
}

@media screen and (max-width: 480px) {
  .portfolio-item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 481px) {
  .portfolio-item {
    width: calc((100% - 4 * 15px) / 2);
    margin: 15px;
  }
}

@media screen and (min-width: 769px) {
  .portfolio-item {
    width: calc((100% - 8 * 15px) / 4);
    margin: 15px;
  }
}
/*   footer */

.page.footer {
  padding-top: 84px;
  padding-bottom: 84px;
  background-color: #191c26;
}

.page.container {
  padding-left: 31px;
  padding-right: 31px;
}

.footer-record {
  padding-bottom: 84px;
}

.footer-title {
  margin-bottom: 44px;
  display: block;
  font-family: "Raleway";
  font-weight: bold;
  font-size: 42px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.05em;
  color: #ffffff;
}

.form-field {
  display: flex;
  align-items: center;
  position: relative;
  width: 418px;
  margin-bottom: 20px;
  background-color: #191c26;
}

.form-field:focus-within .form-label {
  color: #fff;
}

.form-label {
  position: absolute;
  display: inline-block;
  left: 0;
  bottom: 8px;
  transform: translateY(50%);
  font-weight: 600;
  font-size: 11px;
  line-height: 1.4;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: rgba(157, 164, 189, 0.4);
}

.form-field::after {
  position: absolute;
  left: 0;
  bottom: 0;
  content: " ";
  width: 100%;
  height: 1px;
  background-color: rgba(157, 164, 189, 0.4);
}

.form-input {
  display: block;
  max-width: 100%;
  border: none;
  color: #fff;
  background-color: #191c26;
}

.form-input.name {
  margin-left: 40px;
}

.form-input.tel {
  margin-left: 70px;
}

.form-coment {
  position: relative;
  display: block;
  max-width: 100%;
  height: 65px;
  margin-bottom: 44px;
}

.form-coment:focus-within .label-coment {
  color: #fff;
}

.textarea-coment {
  margin-left: 85px;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.4;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #fff;
  background-color: #191c26;
  border: none;
}

.label-coment {
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  max-width: 100%;
  margin-left: 0;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.4;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: rgba(157, 164, 189, 0.4);
}

.footer.button {
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  width: 160px;
  height: 40px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  color: #fff;
  background-color: #191c26;
  border: 1px solid #ff6c00;
  border-radius: 25px;
  cursor: pointer;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer.button:hover {
  background-color: #ff6c00;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-conta—Åt {
  padding-top: 84px;
  background-image: url(../images/);
}

.address {
  display: block;
  margin-bottom: 20px;
  font-size: 18px;
  line-height: 1.7;
  letter-spacing: 0.02em;
  color: #9da4bd;
}

.address.span {
  display: block;
  margin-bottom: 20px;
}

.address.link.mail {
  text-decoration: underline;
}

.footer-section-text {
  position: relative;
  display: block;
  margin-bottom: 20px;
  margin-left: 80px;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.4;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #ffffff;
}

.footer-section-text::before {
  content: "";
  position: absolute;
  display: block;
  top: 50%;
  left: -80px;
  width: 60px;
  height: 1px;
  background-color: #9da4bd;
}
