body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 31px;
  padding-right: 31px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    width: 1280px;
  }
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

/* xxx */

.master.section {
  padding-top: 84px;
  padding-bottom: 84px;
  background-color: #f7f7f7;
}

@media screen and (min-width: 481px) {
  .master-section {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

@media screen and (min-width: 769px) {
  .master-section {
    padding-top: 130px;
    padding-bottom: 130px;
  }
}

@media screen and (min-width: 481px) {
  .master.container {
    padding-left: 159px;
    padding-right: 159px;
  }
}

@media screen and (min-width: 769px) {
  .master.container {
    padding-left: 55px;
    padding-right: 55px;
  }
}

.master-section.text {
  position: relative;
  margin-left: 80px;
  margin-bottom: 20px;
  padding: 0;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.4;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.master-section.text::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: -80px;
  transform: scaleY (50%);
  width: 60px;
  height: 1px;
  background-color: #000;
}

.master-title {
  margin-top: 0;
  margin-bottom: 44px;
  font-weight: bold;
  font-size: 42px;
  line-height: 1.2;
  letter-spacing: 0.05em;
}

.master-cart {
  list-style: none;
  padding-left: 0;
}

@media screen and (min-width: 769px) {
  .master-cart {
    display: flex;
    margin: -15px;
  }
}

@media screen and (min-width: 769px) {
  .master-name {
    width: calc((100% - 6 * 15px) / 3);
    margin: 15px;
  }
}

@media screen and (max-width: 768px) {
  .master-name:not(:last-child) {
    margin-bottom: 64px;
  }
}
.master-title.name {
  margin-top: 30px;
  margin-bottom: 8px;
  font-size: 18px;
  line-height: 1.4;
  text-align: center;
  letter-spacing: 0.02em;
}

.master-text {
  margin-top: 0;
  margin-bottom: 30px;
  color: #ff6c00;
  font-size: 14px;
  line-height: 1.4;
  text-align: center;
  letter-spacing: 0.02em;
}

.master-seti {
  display: flex;
  padding-left: 0;
  list-style: none;
  justify-content: center;
}

.master-seti.list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.master-seti.list:not(:last-child) {
  margin-right: 10px;
}

.master-seti.link {
  display: flex;
  width: 44px;
  height: 44px;
  align-items: center;
  background-color: #fff;
  border-radius: 50%;
}

.master-seti.link:hover,
.master-seti.link:focus {
  fill: #ff6c00;
}

/*    xxxxxxxxxxxxxxxxxxxxxxxxx       */

.portfolio-section {
  padding-top: 84px;
  padding-bottom: 84px;

  background-color: #ffffff;
}

@media screen and (min-width: 481px) {
  .portfolio-section {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

@media screen and (min-width: 769px) {
  .portfolio-section {
    padding-top: 130px;
    padding-bottom: 130px;
  }
}

.portfolio.container {
  padding-left: 31px;
  padding-right: 31px;
}

@media screen and (min-width: 481px) {
  .portfolio.container {
    padding-left: 39px;
    padding-right: 39px;
  }
}

@media screen and (min-width: 769px) {
  .portfolio.container {
    padding-left: 55px;
    padding-right: 55px;
  }
}

.portfolio-text {
  position: relative;
  margin-top: 0;
  margin-left: 80px;
  margin-bottom: 44px;

  font-weight: 600;
  font-size: 11px;
  line-height: 1.9;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.portfolio-text::before {
  content: "";
  position: absolute;
  width: 60px;
  height: 1px;
  top: 25%;
  left: -80px;
  transform: translateY(-50%);
  background-color: #000000;
}

@media screen and (min-width: 481px) {
  .portfolio-text::before {
    top: 50%;
  }
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.portfolio-foto {
  padding-left: 0;
}

@media screen and (min-width: 481px) {
  .portfolio-foto {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

.portfolio-item {
  list-style: none;
}

@media screen and (max-width: 480px) {
  .portfolio-item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 481px) {
  .portfolio-item {
    width: calc((100% - 4 * 15px) / 2);
    margin: 15px;
  }
}

@media screen and (min-width: 769px) {
  .portfolio-item {
    width: calc((100% - 8 * 15px) / 4);
    margin: 15px;
  }
}
